@import 'custom';

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

$custom-spacers: (
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 6,
  9: $spacer * 6.25,
);

$spacers: map-merge($spacers, $custom-spacers);

$theme-colors: (
  'dark-gray': hsl(0, 0%, 55%),
  'dark-gray-xl': hsl(0, 0%, 41%),
);

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

// Utility classes
.full-height {
  min-height: 100vh;
}

//header section
.top-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.title-wrapper {
  max-width: min(700px, 95%);
}

.page-title {
  line-height: 1;
  font-weight: 100;
}
// landing section
.landing {
  background-image: url('../../images/mobile/image-hero.jpg');
  background-size: cover;
}

@media screen and (min-width: 50em) {
  .landing {
    background-image: url('../../images/desktop/image-hero.jpg');
    background-size: cover;
  }
}

/** About us section styles */
.about-us {
  position: relative;
}

.img-container {
}

.about-intro {
  position: static;
  max-width: min(680px, 100%);
}

@media screen and (min-width: 50em) {
  .about-intro {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
